<main>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><a routerLink="/">Notarin.io</a></h3>
            <nav>
              <ul class="nav masthead-nav">
                <li routerLinkActive="active"><a routerLink="">Home</a></li>
                <li><a>Features</a></li>
                <li routerLinkActive="active"><a routerLink="/login">Log In</a></li>
                <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="inner cover">
          <h1 class="cover-heading">Notarin.io</h1>
          <p class="lead">Home budget management made easy</p>
          <p class="lead">
            <a routerLink="/dashboard" class="btn btn-lg btn-default">Start Now</a>
          </p>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>Cover template for Notarin.io</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
