<h1>Register</h1>
<form #registerForm="ngForm" (ngSubmit)="onRegister()">
  <div class="input-group col-md-7 col-md-offset-2">
    <input
      type="text"
      class="form-control"
      placeholder="First Name"
      id="fname"
      name="fname"
      ngModel
      required>
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <input
      type="text"
      class="form-control"
      placeholder="Last Name"
      id="lname"
      name="lname"
      ngModel
      required>
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      id="email"
      name="email"
      [(ngModel)]="email"
      required>
  </div>
  <div class="input-group col-md-7 col-md-offset-2">
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required>
  </div>
  <div class="input-group col-md-offset-2">
    <input type="submit" [disabled]="registerForm.invalid" class="form-control btn" value="Register">
  </div>
</form>

