<main>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><a routerLink="/">Notarin.io</a></h3>
            <nav>
              <ul class="nav masthead-nav">
                <li><a routerLink="">Home</a></li>
                <li><a>Features</a></li>
                <li routerLinkActive="active"><a routerLink="/login">Log In</a></li>
                <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="inner cover">
          <h1>Register</h1>
          <form #registerForm="ngForm" (ngSubmit)="onRegister()">
            <div class="input-group col-md-7 col-md-offset-2">
              <input
                type="text"
                class="form-control"
                placeholder="First Name"
                id="fname"
                name="fname"
                ngModel
                required>
            </div>
            <div class="input-group col-md-7 col-md-offset-2">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name"
                id="lname"
                name="lname"
                ngModel
                required>
            </div>
            <div class="input-group col-md-7 col-md-offset-2">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                id="email"
                name="email"
                ngModel
                required>
            </div>
            <div class="input-group col-md-7 col-md-offset-2">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                id="password"
                name="password"
                ngModel
                required>
            </div>
            <div class="input-group col-md-offset-2">
              <input type="submit" [disabled]="registerForm.invalid" class="form-control btn" value="Register">
            </div>
          </form>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>Cover template for Notarin.io</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
